html{
    scroll-behavior: smooth;
}


body{
    margin: 0;
    padding: 0;
    background-color: #0f1115;
    font-family: "Segoe UI", sans-serif;
    color: white;
}

nav{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 10px;
    margin: 10px;
    position: sticky;
    top: 20px;
    border-radius: 20px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #0f1115d4; 
    z-index: 100;
    height: 40px;
}

nav > a{
    position: relative;
    text-decoration: none;
    color: white;
    padding-bottom: 2px;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #2e5fae;
    border-radius: 10px;
    transition: width 0.2s ease-in-out;
}

nav a:hover::after {
    width: 100%;
}

#Introduction{
    padding: 80px 10px 80px 200px;
    margin-bottom: 50px;
}

.intro{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 300px;
}

.intro-text{
    flex: 1;
    max-width: 600px;
}

.profile-img{
    width: 320px;
    height: 320px;
    object-fit: cover;
    border-radius: 12px;
    flex-shrink: 0;
    transition: 0.2s ease;
}

.profile-img:hover{
    box-shadow:4px 4px 10px #2e5fae49;
    transform: translateY(-3px);
}

#Introduction > .intro > .intro-text > h1{
    color: #2e5fae;
    text-shadow: 0 4px 12px rgba(46,95,174,0.4);
}

#Introduction > .intro > .intro-text > a{
    display: inline-block;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    background: none;
    color: white;
    text-decoration: none;
    font-size: smaller;
}

#Introduction > .intro > .intro-text > a:hover {
    cursor: pointer;
    background-color: #2e5fae;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(46,95,174,0.3);
}

#About{
    background-color: rgba(255,255,255, 0.02);
    padding: 80px 10px 80px 200px;
}

#About > h1{
    margin-bottom: 40px;
    color: #2e5fae;
    text-shadow: 0 4px 12px rgba(46,95,174,0.4);
}

.about-cont{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    max-width: 1100px;
    gap: 20px;
}

.card > h2{
    color: #3b66ace8;
}

.card{
    border-radius: 8px;
    background-color: #161a21;
    border: 1px solid #232a35;
    padding: 30px;
    width: 250px;
    transition: 0.2s ease-in-out;
}

.card:hover{
    border-color: #2e5fae;
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgb(255,255,255,0.09);
}


#Projects{
    padding: 80px 10px 80px 200px;
    margin-bottom: 50px;
}

#Projects > h1{
    color: #2e5fae;
    text-shadow: 0 4px 12px rgba(46,95,174,0.4);
    margin-bottom: 40px;
}

.project-cont{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    max-width: 1000px;
}

.project-card{
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    gap: 30px;
    padding: 28px 30px;
    border-radius: 8px;
    background-color: #161a21;
    border: 1px solid #232a35;
    transition: 0.2s ease;
}

.number{
    font-size: xx-large;
    font-family: Consolas, monospace;
    color: #232a35;
    font-weight: 700;
    transition: 0.2s ease;
}

.project-card:hover > .number{
    color: #2e5fae;
}

.project-card:hover{
    border-color: #2e5fae;
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateX(6px);
}

.project-descp > p{
    color: #8d94a1;
}

.tags-cont{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.tag{
    font-family: Consolas, monospace;
    font-size: 11.5px;
    color: #2e5fae;
    border: 1px solid #232a35;
    border-radius: 20px;
    padding: 4px 10px;
}

.view-field{
    border: 1px solid #232a35;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    width: 50px;
    text-align: center;
    transition: 0.2s ease;
}

.view-field:hover{
    background-color: #2e5fae;
}

#Contact{
    background-color: rgba(255,255,255, 0.02);
    padding: 80px 10px 80px 200px;
}

#Contact > h1{
    color: #2e5fae;
    text-shadow: 0 4px 12px rgba(46,95,174,0.4);
    margin-bottom: 40px;
}

#Contact > p{
    color: #8d94a1;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-fields > label{
    font-family: Consolas, monospace;
    color: #8d94a1;
}

.form-fields > input,textarea{
    border: 1px solid #232a35;
    padding: 10px 12px;
    border-radius: 8px;
    color: white;
    background-color: rgba(255, 255, 255, 0.03);
    font-family: "Segoe UI", sans-serif;
}

.form-fields input:focus,.form-fields textarea:focus{
    border-color: #2e5fae;
    background-color: rgba(255, 255, 255, 0.05);
    outline: none;
}

.contact-form > button{
    color: white;
    background-color: #2e5fae;
    padding: 10px;
    width: 70px;
    border: none;
    border-radius: 10px 12px;
    cursor: pointer;
    transition: 0.2s ease;
}

.contact-form > button:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(46,95,174,0.4);
}