.footer {
  text-align: center;
  padding: 20px;
  background: var(--card-bg);
  color: var(--text-color);
}

.socialLinks {
  margin-top: 10px;
}

.socialLinks a {
  color: var(--text-color);
  font-size: 22px;
  margin: 0 10px;
  text-decoration: none;
  transition: 0.3s;
}

.socialLinks a:hover {
  color: var(--accent);
}


@media (max-width: 480px) {
  .footer {
    padding: 30px 20px;
  }
}